
@{
    ViewData["Title"] = "Index";
}
@model BasketVM

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basket</h5>

                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">
                        <tr>
                            <th>Product Name</th>
                            <th>Unit Price</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>

                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.ProductName</td>
                                <td>@item.Price $</td>
                                <td>@item.Quantity</td>
                                <td>
                                    <a asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-productId="@item.ProductId" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }

                        <tr>
                            <th colspan="4">Total Price: @Model.TotalPrice $</th>
                        </tr>
                    </table>

                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Payment Details</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">To continue reviewing courses</a>

                }
                else
                {
                    <div class="alert alert-info">Basket is empty!</div>
                }
            </div>
        </div>
    </div>
</div>

